* {
  margin: 0;
}

.page {
  width: 100%;
  height: 100vh;
  /* background-color: green; */
  display: flex;
}

.sidebar {
  width: 15%;
  height: 100%;

  background-color: black;
}

.content {
  width: 85%;
  height: 90%;
  /* background-color: green; */
  padding: 0 72px;
  border-bottom: 1px solid grey;
}

.sidebar_home {
  width: 100%;
  /* height: 20px; */
  border-bottom: 1px solid gray;
}

.sidebar_home:hover {
  background-color: rgb(67, 67, 67);
  cursor: pointer;
}

.sidebar_home h3 {
  color: #fff;
  font-size: 1.1rem;
  padding: 12px;
}

.content_logo {
  width: 100%;
  height: 20%;
  display: flex;
}

.content_logo img {
  height: 100%;
  margin: auto;
}

.content_text {
  width: 100%;
  height: 20%;
  background-color: rgb(221, 220, 220);
  text-align: center;
  margin: 1rem 0;
}

.content_text h4,
p {
  padding: 12px;
}

.content_desc {
  display: flex;
  width: 100%;
  /* height: 50%; */
  justify-content: space-between;
}

.content_desc .desc_card {
  width: 32%;
  height: auto;
}

.content_desc .desc_card h4 {
  padding: 1em 0;
}

.desc_card .card_content img {
  width: 70px;
  float: left;
  margin-right: 1em;
}

.desc_card .card_content span {
  font-size: 0.9rem;
  text-align-last: justify;
}

.content .footer {
  margin-top: 20%;
}
